.Inicial,.Final{text-align: center;}

.Inicial,.Final{font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ccc;
    }

.navbar {
    overflow: hidden;
    background-color: #000000;
}

.navbar a {
    float: left;
    display: block;
    color:#ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color:  #000000;
}

.search-container {
    float: right;
}

.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 10px;
    background: #333;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: #ffffff;
}

.search-container button:hover {
    background: #ddd;
    color: #000000;
}

body {
    background-image:url("../Imagenes/Fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 300px;
    height: 300px;
    border-width: 15px;
    border-color:#0000;
    border-style:inset
}

p{list-style: none;
    text-align: center;
    line-height: 1.4;
    font-size: 25px;
    text-shadow: 0 0 10px #0de91f;
    color: #ffffff;
}

h1{ font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: center; 
    }

h2{
    list-style: none;
    text-align: left;
    line-height: 1.4;
    font-size: 25px;
    text-shadow: 0 0 10px #e90d0d;
    color: #ffffff;
}

h3{list-style: none;
    text-align: left;
    line-height: 1.4;
    font-size: 25px;
    text-shadow: 0 0 10px #e90d0d;
    color: #ffffff;
}

h4{list-style: none;
    text-align: center;
    line-height: 2;
    font-size: 15px;
    text-shadow: 0 0 10px #000202;
    color: #ffffff;
    width: 900px;
    }

video{
    width: 1480px;
    height: 720px;
    background-color: transparent;
}

.text { color: #ffffff; 
    margin-left: 0;
    text-align: justify;
    list-style: none;
    text-align: left;
    line-height: 1.4;
    font-size: 21px;
} 

.ext{
    list-style: none;
    text-align: left;
    line-height: 0;
    font-size: 25px;
    text-shadow: 0 0 10px #e90d0d;
    color: #ffffff;
}

.inf { color: #ffffff; 
    margin-left: 80px;
    text-align: left;
} 

.inf2 { list-style: none;
    text-align: left;
    line-height: 0;
    font-size: 25px;
    color: #ffffff;
} 

.cont { color: #ffffff; 
    margin-left: 80px;
    text-align: left;
    list-style: none;
    text-align: left;
    line-height: 1.4;
    font-size: 25px;
    text-shadow: 0 0 10px #e90d0d;
    color: #ffffff;
} 

.whatsapp-button { position: fixed; 
    bottom: 5px; 
    right: 80px; 
    z-index: 100; 
} 

.whatsapp-button img { width: 50px; 
    height: 50px; 
}

.instagram-button { position: fixed; 
    bottom: 5px; 
    right: 20px; 
    z-index: 100; 
} 

.instagram-button img { width: 50px; 
    height: 50px; 
}

.footer {background-color: #000000;
    color: #f8f7f7;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.footer-container {display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer-column {margin: 10px 0;
    text-align: left;
    width: 100%;
}

.footer-column h3 {margin-bottom: 10px;
    font-size: 20px;
}

.footer-column p, .footer-column ul, .footer-column li, .footer-column a {
    font-size: 16px;
    color: #f8f7f7;
    text-decoration: none;
}

.footer-column ul {list-style: none;
    padding: 0;
}

.footer-column li {margin-bottom: 5px;}

.footer-column a:hover {text-decoration: underline;}

.footer-bottom {margin-top: 10px;
    border-top: 1px solid #f8f7f7;
    padding-top: 10px;
    text-align: center;
}

.footer-social {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin-top: 20px; /* Espacio por encima */
}

.footer-social .social-button img {
    width: 50px;
    height: 50px;
    margin: 0 10px; /* Espacio entre los iconos */
}


@media (min-width: 768px) { /*para poder revisar los bloques de texto en columnas*/
    .footer-container {
    flex-direction: row;
    text-align: left;
    }

    .footer-column {
    width: 30%;
    margin: 0 10px;
    }
}
