{% extends "base.html"%}
{% load static %}

{% block content%}

    <center>
        <br><br><br><br><br> <br><br><br>
        <form action="/login" method="post">
            <fieldset>
                <br><center><legend>INICIO DE SESIÓN</legend></center>
                <img src="{% static 'Iconos/contraseña.jpg' %}" alt="login" class="imagen">
                <input type="text" name="username" placeholder="Usuario" required>
                <input type="password" name="contraseña" placeholder="Contraseña" required>
                <input type="button" value="Inicio Sesión" onclick="window.location.href='Planes.html'">
                <input type="button" value="Registrarse" onclick="window.location.href='Registro.html'">
            </fieldset>
        </form>
    </center>
    
    <br><br><br>

{% endblock %}

</body>
</html>


