{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="StyleRegistro">

    <form action="/inicio_sesion" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>TIPO DE REGISTRO</legend>
            <label for="tipo_registro">Seleccione el tipo de registro:</label>
            <select id="tipo_registro" name="tipo_registro" required onchange="mostrarCampos()">
                <option value="">Seleccione...</option>
                <option value="natural">Persona Natural</option>
                <option value="empresa">Empresa</option>
            </select>
        </fieldset>

        <fieldset id="campos_natural" style="display:none;">
            <legend>INFORMACIÓN PERSONAL</legend>
            <input type="text" name="nombre_completo" placeholder="Nombre Completo" required>
            <input type="number" name="edad" placeholder="Edad">
            <input type="number" name="celular" placeholder="Celular">
            <label for="genero">Género</label>
            <select id="genero" name="genero">
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
            </select>
        </fieldset>

        <fieldset id="campos_empresa" style="display:none;">
            <legend>INFORMACIÓN DE LA EMPRESA</legend>
            <input type="text" name="nombre_empresa" placeholder="Nombre de la Empresa" required>
            <input type="text" name="nit" placeholder="NIT" required>
            <input type="email" name="email_empresa" placeholder="Email de la Empresa" required>
        </fieldset>

        <input type="submit" value="Enviar Ahora">
    </form>

</div>

<script>
    function mostrarCampos() {
        var tipoRegistro = document.getElementById("tipo_registro").value;
        document.getElementById("campos_natural").style.display = (tipoRegistro === "natural") ? "block" : "none";
        document.getElementById("campos_empresa").style.display = (tipoRegistro === "empresa") ? "block" : "none";
    }
</script>

{% endblock %}