<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ALPHA WEB</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Main.css' %}">
</head>

{% block content %}
        <div class="navbar">
            <a href="{% url 'Inicio' %}">Inicio</a>
            <a href="{% url 'Planes' %}">Nuestros Planes</a>
            <a href="{% url 'Registro' %}">Regístrate</a>
            <a href="{% url 'Inicio_Sesión' %}">Iniciar Sesión</a>
            <a href="{% url 'Contraseñas' %}">Contraseñas</a>
            
            <div class="search-container">
                <form action="/search" method="get">
                    <input type="text" placeholder="Buscar..." name="search">
                    <button type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer">
        <hr>
        <div class="footer-container">
            <div class="footer-column">
                <h2>Sobre Nosotros</h2>
                <div class="text">ALPHA WEB es una empresa dedicada a brindar soluciones tecnológicas innovadoras para mejorar la calidad de vida.</div>
            </div>
            
            <div class="footer-column">
                <h2>Enlaces Rápidos</h2>
                <ul class="inf">
                    <li><a href="Inicio.html">Inicio</a></li>
                    <li><a href="Planes.html">Nuestros Planes</a></li>
                    <li><a href="Registro.html">Registro</a></li>
                    <li><a href="Inicio_Sesión.html">Iniciar Sesión</a></li>
                    <li><a href="Contraseñas.html">Contraseñas</a></li>
                </ul>
            </div>
    
            <div class="footer-column">
                <h2>Contacto</h2>
                <div class="text">Email: info@alphaweb.com</div>
                <div class="text">Teléfono: +57 3143757171</div>
            </div>
    
            <div class="footer-column">
                <h2>Redes Sociales</h2>
                <div class="footer-social">
                    <a href="https://www.facebook.com/tu_perfil" class="social-button">
                        <img src="../Iconos/facebook.jpg" alt="Facebook" />
                    </a>
                    <a href="https://www.twitter.com/tu_perfil" class="social-button">
                        <img src="../Iconos/X.jpg" alt="Twitter" />
                    </a>
                    <a href="https://www.instagram.com/tu_perfil" class="social-button">
                        <img src="../Iconos/instagram.jpg" alt="Instagram" />
                    </a>
                </div>
            </div>
        </div>
    
        <hr>
        <div class="final">
            <p>&copy; 2024 ALPHA WEB. Todos los derechos reservados.</p>
        </div>
    
        <div class="footer-links">
            <a href="#popup1">Política de privacidad</a> | 
            <a href="#popup2">Términos de servicio</a> | 
            <a href="#popup3">Aviso legal</a> | 
            <a href="#popup4">Preferencias de cookies</a> | 
            <a href="#popup5">Sus opciones de privacidad</a>
        </div>
    </footer>
    {% endblock %}
    <script src="" async defer></script>
</body>
</html>