{% extends "base.html"%}
{% load static %}

{% block content%}

<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Main2.css' %}">
    <meta charset="UTF-8">
    <style>
        body {
            background-image: url('{% static 'img/Planes.jpg' %}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>

    <div class="navbar">

        <a href="{% url 'Registro' %}">Regístrate</a>
        
        <div class="search-container">
            <form action="/search" method="get">
                <input type="text" placeholder="Buscar..." name="search">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </div>
    <h1><em>PLANES</em></h1><hr>
    
    <div class="items">
        
        <ul style="list-style-image:url(../Iconos/stock.jpg);">
        <li><strong><h3>Planes Personales</h3></strong></li>
        <h4>Nuestros Planes Personales están diseñados para individuos que buscan maximizar su productividad y organización diaria. 
            Con herramientas intuitivas y accesibles, estos planes proporcionan soluciones personalizadas para gestionar tareas, 
            almacenar información de manera segura y mantenerse conectado en todo momento. Perfectos para estudiantes, 
            profesionales independientes y cualquier persona que quiera llevar su eficiencia al siguiente nivel. 
            Disponemos del Plan Personal, el Plan Teams ideal para pequeños equipos y proyectos colaborativos, 
            y el Plan Familiar pensado para hogares modernos que necesitan mantenerse conectados y organizados.</h4>
        <li><strong><h3>Planes Empresariales</h3></strong></li>
        <h4>Para las empresas que buscan soluciones eficientes y escalables, nuestros Planes Empresariales ofrecen herramientas avanzadas de colaboración,
            seguridad de alto nivel y soporte técnico especializado. Ideales para optimizar la productividad y gestionar proyectos empresariales con éxito,
            estos planes garantizan un rendimiento óptimo y la máxima seguridad para tus operaciones críticas. 
            Ofrecemos el Plan Business para empresas en crecimiento y el Plan Premium, 
            que ofrece lo mejor en tecnología y servicios para las empresas más exigentes.</h4>
        </ul>
    </div>
    
    <h3><hr><br><center>Lista de Precios</h3></center><br>
    
    <div class="Planes">
        <ol style="list-style-type: circle">

            <strong><h3>Planes Personales</h3></strong></li><br>

            <div class="card-container"> 
                <div class="card"> <div class="content"> 
                    <div class="title">Plan Personal</div>
                    <img src="../iconos/usuario.jpg" alt="Business Plan Image" class="imagen">
                    <div class="price">$33,999</div> 
                    <div class="description">El Plan Personal está diseñado para individuos que buscan maximizar su productividad y organización diaria.
                        Con herramientas intuitivas y accesibles, este plan proporciona soluciones personalizadas para gestionar tareas, 
                        almacenar información de manera segura y mantenerse conectado en todo momento. Perfecto para estudiantes, 
                        profesionales independientes y cualquier persona que quiera llevar su eficiencia al siguiente nivel.</div> 
                    </div> 
                    <button>Buy now</button> 
                </div>

                <div class="card"> 
                        <div class="content"> 
                            <div class="title">Plan Teams</div>
                            <img src="../iconos/teams.jpg" alt="Business Plan Image" class="imagen"> 
                            <div class="price">$100,000</div> 
                            <div class="description">El Plan Teams es perfecto para pequeños equipos y proyectos colaborativos. 
                                Proporciona herramientas de comunicación y gestión de tareas que facilitan la coordinación y el trabajo en conjunto, 
                                asegurando que todos los miembros del equipo estén alineados y sean productivos.</div> 
                </div> <button>Buy now</button>

                </div> <div class="card"> 
                    <div class="content"> 
                        <div class="title">Plan Familiar</div>
                        <img src="../iconos/families.jpg" alt="Business Plan Image" class="imagen"> 
                        <div class="price">$150,000</div> 
                        <div class="description">Nuestro Plan Familiar está pensado para hogares modernos que necesitan mantenerse conectados y organizados. 
                            Incluye servicios de almacenamiento compartido, aplicaciones de gestión de tiempo y herramientas de seguridad familiar, 
                            todo lo necesario para simplificar la vida diaria de tu familia.</div> 
                    </div> 
                    <button>Buy now</button> 
                </div> 
            </div><br>

            <strong><h3>Planes Business</h3></strong></li><br>
            <div class="card-container"> 
                <div class="card"> 
                    <div class="content"> 
                        <div class="title">Plan Business</div>
                        <img src="../iconos/business.jpg" alt="Business Plan Image" class="imagen"> 
                        <div class="price">$200,000</div> 
                        <div class="description">Nuestro Plan Business está diseñado para empresas que buscan soluciones eficientes y escalables. 
                            Incluye herramientas avanzadas de colaboración, 
                            seguridad de alto nivel y soporte técnico especializado, 
                            ideal para optimizar la productividad y gestionar proyectos empresariales con éxito.</div> 
                    </div> 
                    <button>Buy now</button> 
                </div> <div class="card"> 
                    <div class="content"> 
                        <div class="title">Plan Premium</div>
                        <img src="../iconos/premium.jpg" alt="Business Plan Image" class="imagen"> 
                        <div class="price">$500,000</div> 
                        <div class="description">El Plan Premium ofrece lo mejor en tecnología y servicios para empresas exigentes. 
                            Con prestaciones avanzadas, soporte prioritario y una infraestructura robusta, 
                            garantiza un rendimiento óptimo y la máxima seguridad para tus operaciones críticas.</div> 
                    </div> 
                    <button>Buy now</button> 
                </div> 
            </div><br>
        </ol>

        <form action="ALPHA_WEB/Imagenes/Fondo.jpg" name="Informacion ALPHA WEB" method="get">
            
        </form>
        </div>

        <a href="https://api.whatsapp.com/send?phone=573143757171" class="whatsapp-button">
            <img src="../Iconos/whatsapp.jpg" alt="WhatsApp" />
        </a>

    <footer class="footer">
    <hr><div class="footer-container">
        <div class="footer-column">
            <h2>Sobre Nosotros</h2>
            <div class="text">ALPHA WEB es una empresa dedicada a brindar soluciones tecnológicas innovadoras para mejorar la calidad de vida.</div>
        </div>
        
        <div class="footer-column">
            <div class="cont"><h2>Enlaces Rápidos</h2></div>
            <ul class="inf">
                <li><a href="home.html">home</a></li>
                <li><a href="Planes.html">Nuestros Planes</a></li>
                <li><a href="Registro.html">Registro</a></li>
                <li><a href="Inicio_Sesión.html">Iniciar Sesión</a></li>
                <li><a href="Contraseñas.html">Contraseñas</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <div class="ext"><h2>Contacto</h2></div>
            <div class="text">Email: info@alphaweb.com</div>
            <div class="text">Teléfono: +57 3143757171</div>
        </div>

        <div class="footer-column">
            <div class="prext"><h2>Redes Sociales</h2></div>
            <div class="footer-social">
                <a href="https://www.facebook.com/tu_perfil" class="social-button">
                    <img src="../Iconos/facebook.jpg" alt="Facebook" />
                </a>
                <a href="https://www.twitter.com/tu_perfil" class="social-button">
                    <img src="../Iconos/X.jpg" alt="Twitter" />
                </a>
                <a href="https://www.instagram.com/tu_perfil" class="social-button">
                    <img src="../Iconos/instagram.jpg" alt="Instagram" />
                </a>
            </div>
        </div>
    </div>

    <div class="final">
        <br><p>&copy; 2024 ALPHA WEB. Todos los derechos reservados.</p>
    </div>

    <div class="footer-links">
        <a href="#popup1">Política de privacidad</a> | 
        <a href="#popup2">Términos de servicio</a> | 
        <a href="#popup3">Aviso legal</a> | 
        <a href="#popup4">Preferencias de cookies</a> | 
        <a href="#popup5">Sus opciones de privacidad</a>
    </div>
    </footer>

    <a href="https://api.whatsapp.com/send?phone=573143757171" class="whatsapp-button">
        <img src="../Iconos/whatsapp.jpg" alt="WhatsApp" />
    </a>
    {% endblock %}

</body>
</html>