{% extends "base.html"%}

{% load static %}

{% block content%}

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <form action="/submit" method="post">
        <fieldset>
            <legend>INFORMACIÓN BÁSICA</legend>
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="text" name="apellido" placeholder="Apellido" required>
            <input type="number" name="edad" placeholder="Edad" required>
            <label for="genero">Género</label>
            <select id="genero" name="genero" required>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>INFORMACIÓN DE CONTACTO</legend>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="telefono" placeholder="Teléfono" required>
            <input type="file">
        </fieldset>

        <br><input type="submit" value="Enviar Ahora">
    </form>
    </center><br><br>

{% endblock %}

</body>
</html>