{% extends "base.html"%}

{% load static %}

{% block content%}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Main3.css' %}">

    <style>
        body {
            background-image: url('{% static 'img/Registro.jpg' %}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
    </style>

<body>
</head>

<body>

    <div class="navbar">
        <a href="{% url 'Inicio_Sesión' %}">Inicio Sesión</a>
        <a href="{% url 'home' %}">home</a>
        <a href="{% url 'Contraseñas' %}">Contraseñas</a>
        
    
        <div class="search-container">
            <form action="/search" method="get">
                <input type="text" placeholder="Buscar..." name="search">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </div>
    <center>
    
    <a href="https://api.whatsapp.com/send?phone=573143757171" class="whatsapp-button">
    <img src="../Iconos/whatsapp.jpg" alt="WhatsApp" />
    </a>
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <form action="/submit" method="post">
        <fieldset>
            <legend>INFORMACIÓN BÁSICA</legend>
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="text" name="apellido" placeholder="Apellido" required>
            <input type="number" name="edad" placeholder="Edad" required>
            <label for="genero">Género</label>
            <select id="genero" name="genero" required>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>INFORMACIÓN DE CONTACTO</legend>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="telefono" placeholder="Teléfono" required>
            <input type="file">
        </fieldset>

        <br><input type="submit" value="Enviar Ahora">
    </form>
    </center><br><br><br>

    <footer class="footer">
        <hr><div class="footer-container">
            <div class="footer-column">
                <h2>Sobre Nosotros</h2>
                <div class="text">ALPHA WEB es una empresa dedicada a brindar soluciones tecnológicas innovadoras para mejorar la calidad de vida.</div>
            </div>
            
            <div class="footer-column">
                <div class="cont"><h2>Enlaces Rápidos</h2></div>
                <ul class="inf">
                    <li><a href="home.html">home</a></li>
                    <li><a href="Planes.html">Nuestros Planes</a></li>
                    <li><a href="Registro.html">Registro</a></li>
                    <li><a href="Inicio_Sesión.html">Iniciar Sesión</a></li>
                    <li><a href="Contraseñas.html">Contraseñas</a></li>
                </ul>
            </div>
    
            <div class="footer-column">
                <div class="ext"><h2>Contacto</h2></div>
                <div class="text">Email: info@alphaweb.com</div>
                <div class="text">Teléfono: +57 3143757171</div>
            </div>
    
            <div class="footer-column">
                <div class="prext"><h2>Redes Sociales</h2></div>
                <div class="footer-social">
                    <a href="https://www.facebook.com/tu_perfil" class="social-button">
                        <img src="../Iconos/facebook.jpg" alt="Facebook" />
                    </a>
                    <a href="https://www.twitter.com/tu_perfil" class="social-button">
                        <img src="../Iconos/X.jpg" alt="Twitter" />
                    </a>
                    <a href="https://www.instagram.com/tu_perfil" class="social-button">
                        <img src="../Iconos/instagram.jpg" alt="Instagram" />
                    </a>
                </div>
            </div>
        </div>
    
        <div class="final">
            <br><p>&copy; 2024 ALPHA WEB. Todos los derechos reservados.</p>
        </div>
    
        <div class="footer-links">
            <a href="#popup1">Política de privacidad</a> | 
            <a href="#popup2">Términos de servicio</a> | 
            <a href="#popup3">Aviso legal</a> | 
            <a href="#popup4">Preferencias de cookies</a> | 
            <a href="#popup5">Sus opciones de privacidad</a>
        </div>
        </footer>

        <a href="https://api.whatsapp.com/send?phone=573143757171" class="whatsapp-button">
            <img src="../Iconos/whatsapp.jpg" alt="WhatsApp" />
        </a>
        {% endblock %}

</body>
</html>